# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore MacOS files
.DS_Store

# Ignore IDE specific files (por exemplo, VSCode)
.vscode/

# Ignore arquivos de build
dist/
build/

# Ignore arquivos temporários
*.tmp
*.swp

# Ignore arquivos de imagens que não devem ser versionados
~
# Ignore arquivos de cache
.cache/

#
curso-angular/

#
Estudo-java/
/Estudo-Java/Estrutura-de-Dados/minhaPrimeiraListaLigada/nbproject/private/
/Estudo-Java/Estrutura-de-Dados/ListaLigada/nbproject/private/
/Estudo-Java/Estrutura-de-Dados/GMBarbearia/nbproject/private/
/Estudo-Java/1.Entrada_Saída/entradaDeDados/nbproject/private/
