# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore MacOS files
.DS_Store

# Ignore IDE specific files (por exemplo, VSCode)
.vscode/

# Ignore arquivos de build
dist/
build/

# Ignore arquivos temporários
*.tmp
*.swp

# Ignore arquivos de imagens que não devem ser versionados
*.png
*.jpg
*.jpeg
*.gif

# Ignore arquivos de cache
.cache/
